* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Share Tech Mono", monospace;
}

#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    /* background: rgb(18, 0, 50); */
    max-width: 100%;
    max-height: 100%;
}

.assets{
    display: none;
}

.share-tech-mono-regular {
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
}